USE [QLSP]
GO
/****** Object:  Table [dbo].[ChiNhanh]    Script Date: 02/11/2024 00:09:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiNhanh](
	[ID_ChiNhanh] [varchar](255) NOT NULL,
	[TenChiNhanh] [varchar](255) NOT NULL,
	[Email] [varchar](255) NOT NULL,
	[DiaChi] [varchar](255) NOT NULL,
	[SDT] [varchar](255) NOT NULL,
	[ID_TSC] [varchar](255) NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_ChiNhanh] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GiaoDich]    Script Date: 02/11/2024 00:09:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GiaoDich](
	[ID_GD] [varchar](255) NOT NULL,
	[ID_KH] [varchar](255) NOT NULL,
	[ID_SP] [varchar](255) NOT NULL,
	[ID_NV] [varchar](255) NOT NULL,
	[ID_ChiNhanh] [varchar](255) NOT NULL,
	[ThoiGian] [date] NOT NULL,
	[SoLuong] [varchar](255) NOT NULL,
	[TongTien] [money] NOT NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_GD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhachHang]    Script Date: 02/11/2024 00:09:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhachHang](
	[ID_KH] [varchar](255) NOT NULL,
	[TenKH] [varchar](255) NOT NULL,
	[SDT] [varchar](255) NOT NULL,
	[Email] [varchar](255) NOT NULL,
	[GioiTinh] [varchar](255) NOT NULL,
	[DiaChi] [varchar](255) NOT NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_KH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhaCungCap]    Script Date: 02/11/2024 00:09:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhaCungCap](
	[ID_NCC] [varchar](255) NOT NULL,
	[Ten_NCC] [varchar](255) NOT NULL,
	[Email] [varchar](255) NOT NULL,
	[SDT] [varchar](255) NOT NULL,
	[DiaChi] [varchar](255) NOT NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_NCC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhanVien]    Script Date: 02/11/2024 00:09:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhanVien](
	[ID_NV] [varchar](255) NOT NULL,
	[TenNV] [varchar](255) NOT NULL,
	[ChucVu] [varchar](255) NOT NULL,
	[NgaySinh] [date] NOT NULL,
	[GioiTinh] [varchar](255) NOT NULL,
	[ID_ChiNhanh] [varchar](255) NOT NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_NV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SanPham]    Script Date: 02/11/2024 00:09:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SanPham](
	[ID_SP] [varchar](255) NOT NULL,
	[Ten_SP] [varchar](255) NOT NULL,
	[Gia] [money] NOT NULL,
	[TheLoai] [varchar](255) NOT NULL,
	[MoTa] [varchar](255) NOT NULL,
	[SoLuong] [int] NOT NULL,
	[ID_NCC] [varchar](255) NULL,
	[ID_ChiNhanh] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_SP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TruSoChinh]    Script Date: 02/11/2024 00:09:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TruSoChinh](
	[ID_TSC] [varchar](255) NOT NULL,
	[TenTSC] [varchar](255) NOT NULL,
	[Email] [varchar](255) NOT NULL,
	[DiaChi] [varchar](255) NOT NULL,
	[SDT] [varchar](255) NOT NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_TSC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[ChiNhanh] ([ID_ChiNhanh], [TenChiNhanh], [Email], [DiaChi], [SDT], [ID_TSC], [rowguid]) VALUES (N'CNCT', N'Chi nhanh Can Tho', N'chinhanhcantho@gmail.com', N'101 Duong 30 Thang 4, Quan Ninh Kieu, Can Tho', N'0923456789', N'TSC', N'ef64e70c-3b98-ef11-8de6-4cd577a604b4')
INSERT [dbo].[ChiNhanh] ([ID_ChiNhanh], [TenChiNhanh], [Email], [DiaChi], [SDT], [ID_TSC], [rowguid]) VALUES (N'CNDN', N'Chi nhanh Da Nang', N'chinhanhdanang@gmail.com', N'456 Duong Le Duan, Quan Hai Chau, Da Nang', N'0987654321', N'TSC', N'f064e70c-3b98-ef11-8de6-4cd577a604b4')
INSERT [dbo].[ChiNhanh] ([ID_ChiNhanh], [TenChiNhanh], [Email], [DiaChi], [SDT], [ID_TSC], [rowguid]) VALUES (N'CNHCM', N'Chi nhanh TP. Ho Chi Minh', N'chinhanhtphcm@gmail.com', N'789 Duong Nguyen Hue, Quan 1, TP. Ho Chi Minh', N'0912345678', N'TSC', N'f164e70c-3b98-ef11-8de6-4cd577a604b4')
GO
INSERT [dbo].[KhachHang] ([ID_KH], [TenKH], [SDT], [Email], [GioiTinh], [DiaChi], [rowguid]) VALUES (N'KH001', N'Nguyen Van Khanh', N'0123456789', N'nguyenvankhanh@gmail.com', N'Nam', N'123 Duong Tran Hung Dao, Quan Hoan Kiem, Ha Noi', N'da64e70c-3b98-ef11-8de6-4cd577a604b4')
INSERT [dbo].[KhachHang] ([ID_KH], [TenKH], [SDT], [Email], [GioiTinh], [DiaChi], [rowguid]) VALUES (N'KH002', N'Tran Thi An Nhien', N'0987654321', N'tranthiannhien@gmail.com', N'Nu', N'456 Duong Le Duan, Quan Hai Chau, Da Nang', N'db64e70c-3b98-ef11-8de6-4cd577a604b4')
INSERT [dbo].[KhachHang] ([ID_KH], [TenKH], [SDT], [Email], [GioiTinh], [DiaChi], [rowguid]) VALUES (N'KH003', N'Le Van An', N'0912345678', N'levanan@gmail.com', N'Nam', N'789 Duong Nguyen Hue, Quan 1, TP. Ho Chi Minh', N'dc64e70c-3b98-ef11-8de6-4cd577a604b4')
GO
INSERT [dbo].[NhaCungCap] ([ID_NCC], [Ten_NCC], [Email], [SDT], [DiaChi], [rowguid]) VALUES (N'NCC001', N'Apple', N'apple@gmail.com', N'0123456789', N'789 Duong Tran Hung Dao, Quan Hoan Kiem, Ha Noi', N'e464e70c-3b98-ef11-8de6-4cd577a604b4')
INSERT [dbo].[NhaCungCap] ([ID_NCC], [Ten_NCC], [Email], [SDT], [DiaChi], [rowguid]) VALUES (N'NCC002', N'Samsung', N'samsung@gmail.com', N'0987654321', N'101 Duong Le Duan, Quan Hai Chau, Da Nang', N'e564e70c-3b98-ef11-8de6-4cd577a604b4')
INSERT [dbo].[NhaCungCap] ([ID_NCC], [Ten_NCC], [Email], [SDT], [DiaChi], [rowguid]) VALUES (N'NCC003', N'Huawei', N'huawei@gmail.com', N'0912345678', N'202 Duong Nguyen Hue, Quan 1, TP. Ho Chi Minh', N'e664e70c-3b98-ef11-8de6-4cd577a604b4')
GO
INSERT [dbo].[NhanVien] ([ID_NV], [TenNV], [ChucVu], [NgaySinh], [GioiTinh], [ID_ChiNhanh], [rowguid]) VALUES (N'NV001', N'Tran Thi Quynh Thom', N'Nhan vien quan li ', CAST(N'2003-11-11' AS Date), N'Nu', N'CNDN', N'f564e70c-3b98-ef11-8de6-4cd577a604b4')
INSERT [dbo].[NhanVien] ([ID_NV], [TenNV], [ChucVu], [NgaySinh], [GioiTinh], [ID_ChiNhanh], [rowguid]) VALUES (N'NV0010', N'Nguyen Thi Hanh', N'Nhan vien ban hang', CAST(N'1995-06-06' AS Date), N'Nu', N'CNND', N'f664e70c-3b98-ef11-8de6-4cd577a604b4')
INSERT [dbo].[NhanVien] ([ID_NV], [TenNV], [ChucVu], [NgaySinh], [GioiTinh], [ID_ChiNhanh], [rowguid]) VALUES (N'NV002', N'Le Dinh Tu', N'Nhan vien ky thuat', CAST(N'2003-02-10' AS Date), N'Nam', N'CNDN', N'f764e70c-3b98-ef11-8de6-4cd577a604b4')
GO
INSERT [dbo].[SanPham] ([ID_SP], [Ten_SP], [Gia], [TheLoai], [MoTa], [SoLuong], [ID_NCC], [ID_ChiNhanh]) VALUES (N'SP001', N'iPhone 13', 20000000.0000, N'Dien thoai', N'Dien thoai thong minh Apple iPhone 13', 100, N'NCC001', N'CNDN')
INSERT [dbo].[SanPham] ([ID_SP], [Ten_SP], [Gia], [TheLoai], [MoTa], [SoLuong], [ID_NCC], [ID_ChiNhanh]) VALUES (N'SP002', N'Galaxy S21', 18000000.0000, N'Dien thoai', N'Dien thoai thong minh Samsung Galaxy S21', 50, N'NCC002', N'CNND')
INSERT [dbo].[SanPham] ([ID_SP], [Ten_SP], [Gia], [TheLoai], [MoTa], [SoLuong], [ID_NCC], [ID_ChiNhanh]) VALUES (N'SP003', N'P40 Pro', 15000000.0000, N'Dien thoai', N'Dien thoai thong minh Huawei P40 Pro', 75, N'NCC003', N'CNHCM')
GO
INSERT [dbo].[TruSoChinh] ([ID_TSC], [TenTSC], [Email], [DiaChi], [SDT], [rowguid]) VALUES (N'TSC', N'Tru so chinh Ha Noi', N'tsc@gmail.com', N'Ha Noi, Viet Nam', N'02345568978', N'ee64e70c-3b98-ef11-8de6-4cd577a604b4')
GO
ALTER TABLE [dbo].[ChiNhanh] ADD  CONSTRAINT [MSmerge_df_rowguid_6B009DC144B84F528883BB9D78840EB6]  DEFAULT (newsequentialid()) FOR [rowguid]
GO
ALTER TABLE [dbo].[GiaoDich] ADD  CONSTRAINT [MSmerge_df_rowguid_B2689BC06D714F9D9F9D591622FCD2BD]  DEFAULT (newsequentialid()) FOR [rowguid]
GO
ALTER TABLE [dbo].[KhachHang] ADD  CONSTRAINT [MSmerge_df_rowguid_B474137196D646A9984AA2D4F46B815F]  DEFAULT (newsequentialid()) FOR [rowguid]
GO
ALTER TABLE [dbo].[NhaCungCap] ADD  CONSTRAINT [MSmerge_df_rowguid_8EBAEDC0184945409532930AB3BAC16D]  DEFAULT (newsequentialid()) FOR [rowguid]
GO
ALTER TABLE [dbo].[NhanVien] ADD  CONSTRAINT [MSmerge_df_rowguid_DD5AF5CC105349BEBA94B2564E161C82]  DEFAULT (newsequentialid()) FOR [rowguid]
GO
ALTER TABLE [dbo].[TruSoChinh] ADD  CONSTRAINT [MSmerge_df_rowguid_78F37CF5618E43F1B43B364B08D9A3E7]  DEFAULT (newsequentialid()) FOR [rowguid]
GO
ALTER TABLE [dbo].[ChiNhanh]  WITH CHECK ADD  CONSTRAINT [FK_ChiNhanh_TruSoChinh] FOREIGN KEY([ID_TSC])
REFERENCES [dbo].[TruSoChinh] ([ID_TSC])
GO
ALTER TABLE [dbo].[ChiNhanh] CHECK CONSTRAINT [FK_ChiNhanh_TruSoChinh]
GO
ALTER TABLE [dbo].[GiaoDich]  WITH CHECK ADD FOREIGN KEY([ID_ChiNhanh])
REFERENCES [dbo].[ChiNhanh] ([ID_ChiNhanh])
GO
ALTER TABLE [dbo].[GiaoDich]  WITH CHECK ADD FOREIGN KEY([ID_KH])
REFERENCES [dbo].[KhachHang] ([ID_KH])
GO
ALTER TABLE [dbo].[GiaoDich]  WITH CHECK ADD FOREIGN KEY([ID_NV])
REFERENCES [dbo].[NhanVien] ([ID_NV])
GO
ALTER TABLE [dbo].[GiaoDich]  WITH CHECK ADD FOREIGN KEY([ID_SP])
REFERENCES [dbo].[SanPham] ([ID_SP])
GO
ALTER TABLE [dbo].[NhanVien]  WITH CHECK ADD  CONSTRAINT [FK_NhanVien_ChiNhanh] FOREIGN KEY([ID_ChiNhanh])
REFERENCES [dbo].[ChiNhanh] ([ID_ChiNhanh])
GO
ALTER TABLE [dbo].[NhanVien] CHECK CONSTRAINT [FK_NhanVien_ChiNhanh]
GO
ALTER TABLE [dbo].[SanPham]  WITH CHECK ADD FOREIGN KEY([ID_NCC])
REFERENCES [dbo].[NhaCungCap] ([ID_NCC])
GO
ALTER TABLE [dbo].[SanPham]  WITH CHECK ADD  CONSTRAINT [FK_SanPham_ChiNhanh] FOREIGN KEY([ID_ChiNhanh])
REFERENCES [dbo].[ChiNhanh] ([ID_ChiNhanh])
GO
ALTER TABLE [dbo].[SanPham] CHECK CONSTRAINT [FK_SanPham_ChiNhanh]
GO
