/****** Scripting replication configuration. Script Date: 14/11/2024 15:59:25 ******/
/****** Please Note: For security reasons, all password parameters were scripted with either NULL or an empty string. ******/

/****** Begin: Script to be run at Publisher ******/

/****** Installing the server as a Distributor. Script Date: 14/11/2024 15:59:25 ******/
use master
exec sp_adddistributor @distributor = N'TOWMIESS\CSDLPT_G1', @password = N''
GO

-- Adding the agent profiles
-- Updating the agent profile defaults
exec sp_MSupdate_agenttype_default @profile_id = 1
GO
exec sp_MSupdate_agenttype_default @profile_id = 2
GO
exec sp_MSupdate_agenttype_default @profile_id = 4
GO
exec sp_MSupdate_agenttype_default @profile_id = 6
GO
exec sp_MSupdate_agenttype_default @profile_id = 11
GO

-- Adding the distribution databases
use master
exec sp_adddistributiondb @database = N'Distribution1', @data_folder = N'C:\Program Files\Microsoft SQL Server\MSSQL16.CSDLPT_G1\MSSQL\Data', @data_file = N'Distribution1.MDF', @data_file_size = 141, @log_folder = N'C:\Program Files\Microsoft SQL Server\MSSQL16.CSDLPT_G1\MSSQL\Data', @log_file = N'Distribution1.LDF', @log_file_size = 73, @min_distretention = 0, @max_distretention = 72, @history_retention = 48, @deletebatchsize_xact = 5000, @deletebatchsize_cmd = 2000, @security_mode = 1
GO

-- Adding the distribution publishers
exec sp_adddistpublisher @publisher = N'TOWMIESS\CSDLPT_G1', @distribution_db = N'Distribution1', @security_mode = 1, @working_directory = N'\\Towmiess\repdata', @trusted = N'false', @thirdparty_flag = 0, @publisher_type = N'MSSQLSERVER'
GO

exec sp_addsubscriber @subscriber = N'DESKTOP-63U6OB2\CNDN', @type = 0, @description = N''
GO
exec sp_addsubscriber @subscriber = N'DESKTOP-TNT1GGG\CSDLPT_CNHP', @type = 0, @description = N''
GO
exec sp_addsubscriber @subscriber = N'DESKTOP-TNT1GGG\CSDLPT_HP', @type = 0, @description = N''
GO
exec sp_addsubscriber @subscriber = N'DESKTOP-UNFURNE\CSDLPT_G1', @type = 0, @description = N''
GO
exec sp_addsubscriber @subscriber = N'THEVIET-M30\CSDLPT_G1', @type = 0, @description = N''
GO
exec sp_addsubscriber @subscriber = N'TWISTEDMIND\CSDLPT_G1', @type = 0, @description = N''
GO


/****** End: Script to be run at Publisher ******/


-- Enabling the replication database
use master
exec sp_replicationdboption @dbname = N'QLSP', @optname = N'publish', @value = N'true'
GO

exec [QLSP].sys.sp_addlogreader_agent @job_login = null, @job_password = null, @publisher_security_mode = 1
GO
exec [QLSP].sys.sp_addqreader_agent @job_login = null, @job_password = null, @frompublisher = 1
GO
-- Enabling the replication database
use master
exec sp_replicationdboption @dbname = N'QLSP', @optname = N'merge publish', @value = N'true'
GO

-- Adding the transactional publication
use [QLSP]
exec sp_addpublication @publication = N'NCC', @description = N'Transactional publication of database ''QLSP'' from Publisher ''Towmiess\CSDLPT_G1''.', @sync_method = N'concurrent', @retention = 0, @allow_push = N'true', @allow_pull = N'true', @allow_anonymous = N'true', @enabled_for_internet = N'false', @snapshot_in_defaultfolder = N'true', @compress_snapshot = N'false', @ftp_port = 21, @ftp_login = N'anonymous', @allow_subscription_copy = N'false', @add_to_active_directory = N'false', @repl_freq = N'continuous', @status = N'active', @independent_agent = N'true', @immediate_sync = N'true', @allow_sync_tran = N'false', @autogen_sync_procs = N'false', @allow_queued_tran = N'false', @allow_dts = N'false', @replicate_ddl = 1, @allow_initialize_from_backup = N'false', @enabled_for_p2p = N'false', @enabled_for_het_sub = N'false'
GO


exec sp_addpublication_snapshot @publication = N'NCC', @frequency_type = 1, @frequency_interval = 0, @frequency_relative_interval = 0, @frequency_recurrence_factor = 0, @frequency_subday = 0, @frequency_subday_interval = 0, @active_start_time_of_day = 0, @active_end_time_of_day = 235959, @active_start_date = 0, @active_end_date = 0, @job_login = null, @job_password = null, @publisher_security_mode = 0, @publisher_login = N'sa', @publisher_password = N''
exec sp_grant_publication_access @publication = N'NCC', @login = N'sa'
GO
exec sp_grant_publication_access @publication = N'NCC', @login = N'Towmiess\quynh'
GO
exec sp_grant_publication_access @publication = N'NCC', @login = N'NT SERVICE\SQLAgent$CSDLPT_G1'
GO
exec sp_grant_publication_access @publication = N'NCC', @login = N'NT Service\MSSQL$CSDLPT_G1'
GO
exec sp_grant_publication_access @publication = N'NCC', @login = N'NT SERVICE\Winmgmt'
GO
exec sp_grant_publication_access @publication = N'NCC', @login = N'NT SERVICE\SQLWriter'
GO
exec sp_grant_publication_access @publication = N'NCC', @login = N'distributor_admin'
GO

-- Adding the transactional articles
use [QLSP]
exec sp_addarticle @publication = N'NCC', @article = N'NhaCungCap', @source_owner = N'dbo', @source_object = N'NhaCungCap', @type = N'logbased', @description = N'', @creation_script = N'', @pre_creation_cmd = N'drop', @schema_option = 0x000000000803509F, @identityrangemanagementoption = N'none', @destination_table = N'NhaCungCap', @destination_owner = N'dbo', @status = 24, @vertical_partition = N'false', @ins_cmd = N'CALL [sp_MSins_dboNhaCungCap]', @del_cmd = N'CALL [sp_MSdel_dboNhaCungCap]', @upd_cmd = N'SCALL [sp_MSupd_dboNhaCungCap]'
GO
use [QLSP]
exec sp_addarticle @publication = N'NCC', @article = N'TruSoChinh', @source_owner = N'dbo', @source_object = N'TruSoChinh', @type = N'logbased', @description = N'', @creation_script = N'', @pre_creation_cmd = N'drop', @schema_option = 0x000000000803509F, @identityrangemanagementoption = N'none', @destination_table = N'TruSoChinh', @destination_owner = N'dbo', @status = 24, @vertical_partition = N'false', @ins_cmd = N'CALL [sp_MSins_dboTruSoChinh]', @del_cmd = N'CALL [sp_MSdel_dboTruSoChinh]', @upd_cmd = N'SCALL [sp_MSupd_dboTruSoChinh]'
GO

-- Adding the transactional subscriptions
use [QLSP]
exec sp_addsubscription @publication = N'NCC', @subscriber = N'DESKTOP-63U6OB2\CNDN', @destination_db = N'QLSP_DN', @subscription_type = N'Push', @sync_type = N'automatic', @article = N'all', @update_mode = N'read only', @subscriber_type = 0
exec sp_addpushsubscription_agent @publication = N'NCC', @subscriber = N'DESKTOP-63U6OB2\CNDN', @subscriber_db = N'QLSP_DN', @job_login = null, @job_password = null, @subscriber_security_mode = 0, @subscriber_login = N'sa', @subscriber_password = null, @frequency_type = 64, @frequency_interval = 1, @frequency_relative_interval = 1, @frequency_recurrence_factor = 0, @frequency_subday = 4, @frequency_subday_interval = 5, @active_start_time_of_day = 0, @active_end_time_of_day = 235959, @active_start_date = 0, @active_end_date = 0, @dts_package_location = N'Distributor'
GO
use [QLSP]
exec sp_addsubscription @publication = N'NCC', @subscriber = N'DESKTOP-TNT1GGG\CSDLPT_CNHP', @destination_db = N'QLSP_HP', @subscription_type = N'Push', @sync_type = N'automatic', @article = N'all', @update_mode = N'read only', @subscriber_type = 0
exec sp_addpushsubscription_agent @publication = N'NCC', @subscriber = N'DESKTOP-TNT1GGG\CSDLPT_CNHP', @subscriber_db = N'QLSP_HP', @job_login = null, @job_password = null, @subscriber_security_mode = 0, @subscriber_login = N'sa', @subscriber_password = null, @frequency_type = 64, @frequency_interval = 1, @frequency_relative_interval = 1, @frequency_recurrence_factor = 0, @frequency_subday = 4, @frequency_subday_interval = 5, @active_start_time_of_day = 0, @active_end_time_of_day = 235959, @active_start_date = 0, @active_end_date = 0, @dts_package_location = N'Distributor'
GO
use [QLSP]
exec sp_addsubscription @publication = N'NCC', @subscriber = N'DESKTOP-UNFURNE\CSDLPT_G1', @destination_db = N'QLSP_HCM', @subscription_type = N'Push', @sync_type = N'automatic', @article = N'all', @update_mode = N'read only', @subscriber_type = 0
exec sp_addpushsubscription_agent @publication = N'NCC', @subscriber = N'DESKTOP-UNFURNE\CSDLPT_G1', @subscriber_db = N'QLSP_HCM', @job_login = null, @job_password = null, @subscriber_security_mode = 0, @subscriber_login = N'sa', @subscriber_password = null, @frequency_type = 64, @frequency_interval = 1, @frequency_relative_interval = 1, @frequency_recurrence_factor = 0, @frequency_subday = 4, @frequency_subday_interval = 5, @active_start_time_of_day = 0, @active_end_time_of_day = 235959, @active_start_date = 0, @active_end_date = 0, @dts_package_location = N'Distributor'
GO
use [QLSP]
exec sp_addsubscription @publication = N'NCC', @subscriber = N'THEVIET-M30\CSDLPT_G1', @destination_db = N'QLSP_CT', @subscription_type = N'Push', @sync_type = N'automatic', @article = N'all', @update_mode = N'read only', @subscriber_type = 0
exec sp_addpushsubscription_agent @publication = N'NCC', @subscriber = N'THEVIET-M30\CSDLPT_G1', @subscriber_db = N'QLSP_CT', @job_login = null, @job_password = null, @subscriber_security_mode = 0, @subscriber_login = N'sa', @subscriber_password = null, @frequency_type = 64, @frequency_interval = 1, @frequency_relative_interval = 1, @frequency_recurrence_factor = 0, @frequency_subday = 4, @frequency_subday_interval = 5, @active_start_time_of_day = 0, @active_end_time_of_day = 235959, @active_start_date = 0, @active_end_date = 0, @dts_package_location = N'Distributor'
GO
use [QLSP]
exec sp_addsubscription @publication = N'NCC', @subscriber = N'TWISTEDMIND\CSDLPT_G1', @destination_db = N'QLSP_ND', @subscription_type = N'Push', @sync_type = N'automatic', @article = N'all', @update_mode = N'read only', @subscriber_type = 0
exec sp_addpushsubscription_agent @publication = N'NCC', @subscriber = N'TWISTEDMIND\CSDLPT_G1', @subscriber_db = N'QLSP_ND', @job_login = null, @job_password = null, @subscriber_security_mode = 0, @subscriber_login = N'sa', @subscriber_password = null, @frequency_type = 64, @frequency_interval = 1, @frequency_relative_interval = 1, @frequency_recurrence_factor = 0, @frequency_subday = 4, @frequency_subday_interval = 5, @active_start_time_of_day = 0, @active_end_time_of_day = 235959, @active_start_date = 0, @active_end_date = 0, @dts_package_location = N'Distributor'
GO


-- Adding the merge publication
use [QLSP]
exec sp_addmergepublication @publication = N'QLSP_CT', @description = N'Merge publication of database ''QLSP'' from Publisher ''Towmiess\CSDLPT_G1''.', @sync_mode = N'native', @retention = 14, @allow_push = N'true', @allow_pull = N'true', @allow_anonymous = N'true', @enabled_for_internet = N'false', @snapshot_in_defaultfolder = N'true', @compress_snapshot = N'false', @ftp_port = 21, @ftp_subdirectory = N'ftp', @ftp_login = N'anonymous', @allow_subscription_copy = N'false', @add_to_active_directory = N'false', @dynamic_filters = N'false', @conflict_retention = 14, @keep_partition_changes = N'false', @allow_synctoalternate = N'false', @max_concurrent_merge = 0, @max_concurrent_dynamic_snapshots = 0, @use_partition_groups = N'true', @publication_compatibility_level = N'100RTM', @replicate_ddl = 1, @allow_subscriber_initiated_snapshot = N'false', @allow_web_synchronization = N'false', @allow_partition_realignment = N'true', @retention_period_unit = N'days', @conflict_logging = N'both', @automatic_reinitialization_policy = 0
GO


exec sp_addpublication_snapshot @publication = N'QLSP_CT', @frequency_type = 4, @frequency_interval = 14, @frequency_relative_interval = 1, @frequency_recurrence_factor = 0, @frequency_subday = 1, @frequency_subday_interval = 5, @active_start_time_of_day = 500, @active_end_time_of_day = 235959, @active_start_date = 0, @active_end_date = 0, @job_login = null, @job_password = null, @publisher_security_mode = 0, @publisher_login = N'sa', @publisher_password = N''
exec sp_grant_publication_access @publication = N'QLSP_CT', @login = N'sa'
GO
exec sp_grant_publication_access @publication = N'QLSP_CT', @login = N'Towmiess\quynh'
GO
exec sp_grant_publication_access @publication = N'QLSP_CT', @login = N'NT SERVICE\SQLAgent$CSDLPT_G1'
GO
exec sp_grant_publication_access @publication = N'QLSP_CT', @login = N'NT Service\MSSQL$CSDLPT_G1'
GO
exec sp_grant_publication_access @publication = N'QLSP_CT', @login = N'NT SERVICE\Winmgmt'
GO
exec sp_grant_publication_access @publication = N'QLSP_CT', @login = N'NT SERVICE\SQLWriter'
GO
exec sp_grant_publication_access @publication = N'QLSP_CT', @login = N'distributor_admin'
GO

-- Adding the merge articles
use [QLSP]
exec sp_addmergearticle @publication = N'QLSP_CT', @article = N'KhachHang', @source_owner = N'dbo', @source_object = N'KhachHang', @type = N'table', @description = N'', @creation_script = N'', @pre_creation_cmd = N'drop', @schema_option = 0x000000010C034FD1, @identityrangemanagementoption = N'none', @destination_owner = N'dbo', @force_reinit_subscription = 1, @column_tracking = N'false', @subset_filterclause = N'', @vertical_partition = N'false', @verify_resolver_signature = 1, @allow_interactive_resolver = N'false', @fast_multicol_updateproc = N'true', @check_permissions = 0, @subscriber_upload_options = 0, @delete_tracking = N'true', @compensate_for_errors = N'false', @stream_blob_columns = N'true', @partition_options = 0
GO
use [QLSP]
exec sp_addmergearticle @publication = N'QLSP_CT', @article = N'ChiNhanh', @source_owner = N'dbo', @source_object = N'ChiNhanh', @type = N'table', @description = N'', @creation_script = N'', @pre_creation_cmd = N'drop', @schema_option = 0x000000010C034FD1, @identityrangemanagementoption = N'none', @destination_owner = N'dbo', @force_reinit_subscription = 1, @column_tracking = N'false', @subset_filterclause = N'[ID_ChiNhanh] =''CNCT''', @vertical_partition = N'false', @verify_resolver_signature = 1, @allow_interactive_resolver = N'false', @fast_multicol_updateproc = N'true', @check_permissions = 0, @subscriber_upload_options = 0, @delete_tracking = N'true', @compensate_for_errors = N'false', @stream_blob_columns = N'true', @partition_options = 0
GO
use [QLSP]
exec sp_addmergearticle @publication = N'QLSP_CT', @article = N'NhanVien', @source_owner = N'dbo', @source_object = N'NhanVien', @type = N'table', @description = N'', @creation_script = N'', @pre_creation_cmd = N'drop', @schema_option = 0x000000010C034FD1, @identityrangemanagementoption = N'none', @destination_owner = N'dbo', @force_reinit_subscription = 1, @column_tracking = N'false', @subset_filterclause = N'', @vertical_partition = N'false', @verify_resolver_signature = 1, @allow_interactive_resolver = N'false', @fast_multicol_updateproc = N'true', @check_permissions = 0, @subscriber_upload_options = 0, @delete_tracking = N'true', @compensate_for_errors = N'false', @stream_blob_columns = N'true', @partition_options = 0
GO
use [QLSP]
exec sp_addmergearticle @publication = N'QLSP_CT', @article = N'SanPham', @source_owner = N'dbo', @source_object = N'SanPham', @type = N'table', @description = N'', @creation_script = N'', @pre_creation_cmd = N'drop', @schema_option = 0x000000010C034FD1, @identityrangemanagementoption = N'none', @destination_owner = N'dbo', @force_reinit_subscription = 1, @column_tracking = N'false', @subset_filterclause = N'', @vertical_partition = N'false', @verify_resolver_signature = 1, @allow_interactive_resolver = N'false', @fast_multicol_updateproc = N'true', @check_permissions = 0, @subscriber_upload_options = 0, @delete_tracking = N'true', @compensate_for_errors = N'false', @stream_blob_columns = N'true', @partition_options = 0
GO
use [QLSP]
exec sp_addmergearticle @publication = N'QLSP_CT', @article = N'GiaoDich', @source_owner = N'dbo', @source_object = N'GiaoDich', @type = N'table', @description = N'', @creation_script = N'', @pre_creation_cmd = N'drop', @schema_option = 0x000000010C034FD1, @identityrangemanagementoption = N'none', @destination_owner = N'dbo', @force_reinit_subscription = 1, @column_tracking = N'false', @subset_filterclause = N'', @vertical_partition = N'false', @verify_resolver_signature = 1, @allow_interactive_resolver = N'false', @fast_multicol_updateproc = N'true', @check_permissions = 0, @subscriber_upload_options = 0, @delete_tracking = N'true', @compensate_for_errors = N'false', @stream_blob_columns = N'true', @partition_options = 0
GO

-- Adding the merge article join filters
use [QLSP]
exec sp_addmergefilter @publication = N'QLSP_CT', @article = N'GiaoDich', @filtername = N'GiaoDich_ChiNhanh', @join_articlename = N'ChiNhanh', @join_filterclause = N'[GiaoDich].[ID_ChiNhanh] = [ChiNhanh].[ID_ChiNhanh]', @join_unique_key = 1, @filter_type = 1, @force_invalidate_snapshot = 1, @force_reinit_subscription = 1
GO
use [QLSP]
exec sp_addmergefilter @publication = N'QLSP_CT', @article = N'NhanVien', @filtername = N'NhanVien_ChiNhanh', @join_articlename = N'ChiNhanh', @join_filterclause = N'[NhanVien].[ID_ChiNhanh] = [ChiNhanh].[ID_ChiNhanh]', @join_unique_key = 1, @filter_type = 1, @force_invalidate_snapshot = 1, @force_reinit_subscription = 1
GO
use [QLSP]
exec sp_addmergefilter @publication = N'QLSP_CT', @article = N'SanPham', @filtername = N'SanPham_ChiNhanh', @join_articlename = N'ChiNhanh', @join_filterclause = N'[SanPham].[ID_ChiNhanh] = [ChiNhanh].[ID_ChiNhanh]', @join_unique_key = 1, @filter_type = 1, @force_invalidate_snapshot = 1, @force_reinit_subscription = 1
GO
use [QLSP]
exec sp_addmergefilter @publication = N'QLSP_CT', @article = N'KhachHang', @filtername = N'KhachHang_GiaoDich', @join_articlename = N'GiaoDich', @join_filterclause = N'[KhachHang].[ID_KH] = [GiaoDich].[ID_KH]', @join_unique_key = 0, @filter_type = 1, @force_invalidate_snapshot = 1, @force_reinit_subscription = 1
GO
use [QLSP]
exec sp_addmergefilter @publication = N'QLSP_CT', @article = N'GiaoDich', @filtername = N'GiaoDich_NhanVien', @join_articlename = N'NhanVien', @join_filterclause = N'[NhanVien].[ID_NV] = [GiaoDich].[ID_NV]', @join_unique_key = 1, @filter_type = 1, @force_invalidate_snapshot = 1, @force_reinit_subscription = 1
GO

-- Adding the merge subscriptions
use [QLSP]
exec sp_addmergesubscription @publication = N'QLSP_CT', @subscriber = N'THEVIET-M30\CSDLPT_G1', @subscriber_db = N'QLSP_CT', @subscription_type = N'Push', @sync_type = N'Automatic', @subscriber_type = N'Local', @subscription_priority = 0, @description = N'', @use_interactive_resolver = N'False'
exec sp_addmergepushsubscription_agent @publication = N'QLSP_CT', @subscriber = N'THEVIET-M30\CSDLPT_G1', @subscriber_db = N'QLSP_CT', @job_login = null, @job_password = null, @subscriber_security_mode = 0, @subscriber_login = N'sa', @subscriber_password = null, @publisher_security_mode = 1, @frequency_type = 64, @frequency_interval = 0, @frequency_relative_interval = 0, @frequency_recurrence_factor = 0, @frequency_subday = 0, @frequency_subday_interval = 0, @active_start_time_of_day = 0, @active_end_time_of_day = 235959, @active_start_date = 0, @active_end_date = 0
GO

-- Adding the merge publication
use [QLSP]
exec sp_addmergepublication @publication = N'QLSP_DN', @description = N'Merge publication of database ''QLSP'' from Publisher ''Towmiess\CSDLPT_G1''.', @sync_mode = N'native', @retention = 14, @allow_push = N'true', @allow_pull = N'true', @allow_anonymous = N'true', @enabled_for_internet = N'false', @snapshot_in_defaultfolder = N'true', @compress_snapshot = N'false', @ftp_port = 21, @ftp_subdirectory = N'ftp', @ftp_login = N'anonymous', @allow_subscription_copy = N'false', @add_to_active_directory = N'false', @dynamic_filters = N'false', @conflict_retention = 14, @keep_partition_changes = N'false', @allow_synctoalternate = N'false', @max_concurrent_merge = 0, @max_concurrent_dynamic_snapshots = 0, @use_partition_groups = N'true', @publication_compatibility_level = N'100RTM', @replicate_ddl = 1, @allow_subscriber_initiated_snapshot = N'false', @allow_web_synchronization = N'false', @allow_partition_realignment = N'true', @retention_period_unit = N'days', @conflict_logging = N'both', @automatic_reinitialization_policy = 0
GO


exec sp_addpublication_snapshot @publication = N'QLSP_DN', @frequency_type = 4, @frequency_interval = 14, @frequency_relative_interval = 1, @frequency_recurrence_factor = 0, @frequency_subday = 1, @frequency_subday_interval = 5, @active_start_time_of_day = 500, @active_end_time_of_day = 235959, @active_start_date = 0, @active_end_date = 0, @job_login = null, @job_password = null, @publisher_security_mode = 0, @publisher_login = N'sa', @publisher_password = N''
exec sp_grant_publication_access @publication = N'QLSP_DN', @login = N'sa'
GO
exec sp_grant_publication_access @publication = N'QLSP_DN', @login = N'Towmiess\quynh'
GO
exec sp_grant_publication_access @publication = N'QLSP_DN', @login = N'NT SERVICE\SQLAgent$CSDLPT_G1'
GO
exec sp_grant_publication_access @publication = N'QLSP_DN', @login = N'NT Service\MSSQL$CSDLPT_G1'
GO
exec sp_grant_publication_access @publication = N'QLSP_DN', @login = N'NT SERVICE\Winmgmt'
GO
exec sp_grant_publication_access @publication = N'QLSP_DN', @login = N'NT SERVICE\SQLWriter'
GO
exec sp_grant_publication_access @publication = N'QLSP_DN', @login = N'distributor_admin'
GO

-- Adding the merge articles
use [QLSP]
exec sp_addmergearticle @publication = N'QLSP_DN', @article = N'KhachHang', @source_owner = N'dbo', @source_object = N'KhachHang', @type = N'table', @description = N'', @creation_script = N'', @pre_creation_cmd = N'drop', @schema_option = 0x000000010C034FD1, @identityrangemanagementoption = N'none', @destination_owner = N'dbo', @force_reinit_subscription = 1, @column_tracking = N'false', @subset_filterclause = N'', @vertical_partition = N'false', @verify_resolver_signature = 1, @allow_interactive_resolver = N'false', @fast_multicol_updateproc = N'true', @check_permissions = 0, @subscriber_upload_options = 0, @delete_tracking = N'true', @compensate_for_errors = N'false', @stream_blob_columns = N'true', @partition_options = 0
GO
use [QLSP]
exec sp_addmergearticle @publication = N'QLSP_DN', @article = N'ChiNhanh', @source_owner = N'dbo', @source_object = N'ChiNhanh', @type = N'table', @description = N'', @creation_script = N'', @pre_creation_cmd = N'drop', @schema_option = 0x000000010C034FD1, @identityrangemanagementoption = N'none', @destination_owner = N'dbo', @force_reinit_subscription = 1, @column_tracking = N'false', @subset_filterclause = N'[ID_ChiNhanh] = ''CNDN''', @vertical_partition = N'false', @verify_resolver_signature = 1, @allow_interactive_resolver = N'false', @fast_multicol_updateproc = N'true', @check_permissions = 0, @subscriber_upload_options = 0, @delete_tracking = N'true', @compensate_for_errors = N'false', @stream_blob_columns = N'true', @partition_options = 0
GO
use [QLSP]
exec sp_addmergearticle @publication = N'QLSP_DN', @article = N'NhanVien', @source_owner = N'dbo', @source_object = N'NhanVien', @type = N'table', @description = N'', @creation_script = N'', @pre_creation_cmd = N'drop', @schema_option = 0x000000010C034FD1, @identityrangemanagementoption = N'none', @destination_owner = N'dbo', @force_reinit_subscription = 1, @column_tracking = N'false', @subset_filterclause = N'', @vertical_partition = N'false', @verify_resolver_signature = 1, @allow_interactive_resolver = N'false', @fast_multicol_updateproc = N'true', @check_permissions = 0, @subscriber_upload_options = 0, @delete_tracking = N'true', @compensate_for_errors = N'false', @stream_blob_columns = N'true', @partition_options = 0
GO
use [QLSP]
exec sp_addmergearticle @publication = N'QLSP_DN', @article = N'SanPham', @source_owner = N'dbo', @source_object = N'SanPham', @type = N'table', @description = N'', @creation_script = N'', @pre_creation_cmd = N'drop', @schema_option = 0x000000010C034FD1, @identityrangemanagementoption = N'none', @destination_owner = N'dbo', @force_reinit_subscription = 1, @column_tracking = N'false', @subset_filterclause = N'', @vertical_partition = N'false', @verify_resolver_signature = 1, @allow_interactive_resolver = N'false', @fast_multicol_updateproc = N'true', @check_permissions = 0, @subscriber_upload_options = 0, @delete_tracking = N'true', @compensate_for_errors = N'false', @stream_blob_columns = N'true', @partition_options = 0
GO
use [QLSP]
exec sp_addmergearticle @publication = N'QLSP_DN', @article = N'GiaoDich', @source_owner = N'dbo', @source_object = N'GiaoDich', @type = N'table', @description = N'', @creation_script = N'', @pre_creation_cmd = N'drop', @schema_option = 0x000000010C034FD1, @identityrangemanagementoption = N'none', @destination_owner = N'dbo', @force_reinit_subscription = 1, @column_tracking = N'false', @subset_filterclause = N'', @vertical_partition = N'false', @verify_resolver_signature = 1, @allow_interactive_resolver = N'false', @fast_multicol_updateproc = N'true', @check_permissions = 0, @subscriber_upload_options = 0, @delete_tracking = N'true', @compensate_for_errors = N'false', @stream_blob_columns = N'true', @partition_options = 0
GO

-- Adding the merge article join filters
use [QLSP]
exec sp_addmergefilter @publication = N'QLSP_DN', @article = N'GiaoDich', @filtername = N'GiaoDich_ChiNhanh', @join_articlename = N'ChiNhanh', @join_filterclause = N'[GiaoDich].[ID_ChiNhanh] = [ChiNhanh].[ID_ChiNhanh]', @join_unique_key = 1, @filter_type = 1, @force_invalidate_snapshot = 1, @force_reinit_subscription = 1
GO
use [QLSP]
exec sp_addmergefilter @publication = N'QLSP_DN', @article = N'NhanVien', @filtername = N'NhanVien_ChiNhanh', @join_articlename = N'ChiNhanh', @join_filterclause = N'[NhanVien].[ID_ChiNhanh] = [ChiNhanh].[ID_ChiNhanh]', @join_unique_key = 1, @filter_type = 1, @force_invalidate_snapshot = 1, @force_reinit_subscription = 1
GO
use [QLSP]
exec sp_addmergefilter @publication = N'QLSP_DN', @article = N'SanPham', @filtername = N'SanPham_ChiNhanh', @join_articlename = N'ChiNhanh', @join_filterclause = N'[SanPham].[ID_ChiNhanh] = [ChiNhanh].[ID_ChiNhanh]', @join_unique_key = 1, @filter_type = 1, @force_invalidate_snapshot = 1, @force_reinit_subscription = 1
GO
use [QLSP]
exec sp_addmergefilter @publication = N'QLSP_DN', @article = N'KhachHang', @filtername = N'KhachHang_GiaoDich', @join_articlename = N'GiaoDich', @join_filterclause = N'[KhachHang].[ID_KH] = [GiaoDich].[ID_KH]', @join_unique_key = 0, @filter_type = 1, @force_invalidate_snapshot = 1, @force_reinit_subscription = 1
GO

-- Adding the merge subscriptions
use [QLSP]
exec sp_addmergesubscription @publication = N'QLSP_DN', @subscriber = N'DESKTOP-63U6OB2\CNDN', @subscriber_db = N'QLSP_DN', @subscription_type = N'Push', @sync_type = N'Automatic', @subscriber_type = N'Local', @subscription_priority = 0, @description = N'', @use_interactive_resolver = N'False'
exec sp_addmergepushsubscription_agent @publication = N'QLSP_DN', @subscriber = N'DESKTOP-63U6OB2\CNDN', @subscriber_db = N'QLSP_DN', @job_login = null, @job_password = null, @subscriber_security_mode = 0, @subscriber_login = N'sa', @subscriber_password = null, @publisher_security_mode = 1, @frequency_type = 64, @frequency_interval = 0, @frequency_relative_interval = 0, @frequency_recurrence_factor = 0, @frequency_subday = 0, @frequency_subday_interval = 0, @active_start_time_of_day = 0, @active_end_time_of_day = 235959, @active_start_date = 0, @active_end_date = 0
GO

-- Adding the merge publication
use [QLSP]
exec sp_addmergepublication @publication = N'QLSP_HCM', @description = N'Merge publication of database ''QLSP'' from Publisher ''Towmiess\CSDLPT_G1''.', @sync_mode = N'native', @retention = 14, @allow_push = N'true', @allow_pull = N'true', @allow_anonymous = N'true', @enabled_for_internet = N'false', @snapshot_in_defaultfolder = N'true', @compress_snapshot = N'false', @ftp_port = 21, @ftp_subdirectory = N'ftp', @ftp_login = N'anonymous', @allow_subscription_copy = N'false', @add_to_active_directory = N'false', @dynamic_filters = N'false', @conflict_retention = 14, @keep_partition_changes = N'false', @allow_synctoalternate = N'false', @max_concurrent_merge = 0, @max_concurrent_dynamic_snapshots = 0, @use_partition_groups = N'true', @publication_compatibility_level = N'100RTM', @replicate_ddl = 1, @allow_subscriber_initiated_snapshot = N'false', @allow_web_synchronization = N'false', @allow_partition_realignment = N'true', @retention_period_unit = N'days', @conflict_logging = N'both', @automatic_reinitialization_policy = 0
GO


exec sp_addpublication_snapshot @publication = N'QLSP_HCM', @frequency_type = 4, @frequency_interval = 14, @frequency_relative_interval = 1, @frequency_recurrence_factor = 0, @frequency_subday = 1, @frequency_subday_interval = 5, @active_start_time_of_day = 500, @active_end_time_of_day = 235959, @active_start_date = 0, @active_end_date = 0, @job_login = null, @job_password = null, @publisher_security_mode = 0, @publisher_login = N'sa', @publisher_password = N''
exec sp_grant_publication_access @publication = N'QLSP_HCM', @login = N'sa'
GO
exec sp_grant_publication_access @publication = N'QLSP_HCM', @login = N'Towmiess\quynh'
GO
exec sp_grant_publication_access @publication = N'QLSP_HCM', @login = N'NT SERVICE\SQLAgent$CSDLPT_G1'
GO
exec sp_grant_publication_access @publication = N'QLSP_HCM', @login = N'NT Service\MSSQL$CSDLPT_G1'
GO
exec sp_grant_publication_access @publication = N'QLSP_HCM', @login = N'NT SERVICE\Winmgmt'
GO
exec sp_grant_publication_access @publication = N'QLSP_HCM', @login = N'NT SERVICE\SQLWriter'
GO
exec sp_grant_publication_access @publication = N'QLSP_HCM', @login = N'distributor_admin'
GO

-- Adding the merge articles
use [QLSP]
exec sp_addmergearticle @publication = N'QLSP_HCM', @article = N'KhachHang', @source_owner = N'dbo', @source_object = N'KhachHang', @type = N'table', @description = N'', @creation_script = N'', @pre_creation_cmd = N'drop', @schema_option = 0x000000010C034FD1, @identityrangemanagementoption = N'none', @destination_owner = N'dbo', @force_reinit_subscription = 1, @column_tracking = N'false', @subset_filterclause = N'', @vertical_partition = N'false', @verify_resolver_signature = 1, @allow_interactive_resolver = N'false', @fast_multicol_updateproc = N'true', @check_permissions = 0, @subscriber_upload_options = 0, @delete_tracking = N'true', @compensate_for_errors = N'false', @stream_blob_columns = N'true', @partition_options = 0
GO
use [QLSP]
exec sp_addmergearticle @publication = N'QLSP_HCM', @article = N'ChiNhanh', @source_owner = N'dbo', @source_object = N'ChiNhanh', @type = N'table', @description = N'', @creation_script = N'', @pre_creation_cmd = N'drop', @schema_option = 0x000000010C034FD1, @identityrangemanagementoption = N'none', @destination_owner = N'dbo', @force_reinit_subscription = 1, @column_tracking = N'false', @subset_filterclause = N'[ID_ChiNhanh] =''CNHCM''', @vertical_partition = N'false', @verify_resolver_signature = 1, @allow_interactive_resolver = N'false', @fast_multicol_updateproc = N'true', @check_permissions = 0, @subscriber_upload_options = 0, @delete_tracking = N'true', @compensate_for_errors = N'false', @stream_blob_columns = N'true', @partition_options = 0
GO
use [QLSP]
exec sp_addmergearticle @publication = N'QLSP_HCM', @article = N'NhanVien', @source_owner = N'dbo', @source_object = N'NhanVien', @type = N'table', @description = N'', @creation_script = N'', @pre_creation_cmd = N'drop', @schema_option = 0x000000010C034FD1, @identityrangemanagementoption = N'none', @destination_owner = N'dbo', @force_reinit_subscription = 1, @column_tracking = N'false', @subset_filterclause = N'', @vertical_partition = N'false', @verify_resolver_signature = 1, @allow_interactive_resolver = N'false', @fast_multicol_updateproc = N'true', @check_permissions = 0, @subscriber_upload_options = 0, @delete_tracking = N'true', @compensate_for_errors = N'false', @stream_blob_columns = N'true', @partition_options = 0
GO
use [QLSP]
exec sp_addmergearticle @publication = N'QLSP_HCM', @article = N'SanPham', @source_owner = N'dbo', @source_object = N'SanPham', @type = N'table', @description = N'', @creation_script = N'', @pre_creation_cmd = N'drop', @schema_option = 0x000000010C034FD1, @identityrangemanagementoption = N'none', @destination_owner = N'dbo', @force_reinit_subscription = 1, @column_tracking = N'false', @subset_filterclause = N'', @vertical_partition = N'false', @verify_resolver_signature = 1, @allow_interactive_resolver = N'false', @fast_multicol_updateproc = N'true', @check_permissions = 0, @subscriber_upload_options = 0, @delete_tracking = N'true', @compensate_for_errors = N'false', @stream_blob_columns = N'true', @partition_options = 0
GO
use [QLSP]
exec sp_addmergearticle @publication = N'QLSP_HCM', @article = N'GiaoDich', @source_owner = N'dbo', @source_object = N'GiaoDich', @type = N'table', @description = N'', @creation_script = N'', @pre_creation_cmd = N'drop', @schema_option = 0x000000010C034FD1, @identityrangemanagementoption = N'none', @destination_owner = N'dbo', @force_reinit_subscription = 1, @column_tracking = N'false', @subset_filterclause = N'', @vertical_partition = N'false', @verify_resolver_signature = 1, @allow_interactive_resolver = N'false', @fast_multicol_updateproc = N'true', @check_permissions = 0, @subscriber_upload_options = 0, @delete_tracking = N'true', @compensate_for_errors = N'false', @stream_blob_columns = N'true', @partition_options = 0
GO

-- Adding the merge article join filters
use [QLSP]
exec sp_addmergefilter @publication = N'QLSP_HCM', @article = N'GiaoDich', @filtername = N'GiaoDich_ChiNhanh', @join_articlename = N'ChiNhanh', @join_filterclause = N'[GiaoDich].[ID_ChiNhanh] = [ChiNhanh].[ID_ChiNhanh]', @join_unique_key = 1, @filter_type = 1, @force_invalidate_snapshot = 1, @force_reinit_subscription = 1
GO
use [QLSP]
exec sp_addmergefilter @publication = N'QLSP_HCM', @article = N'NhanVien', @filtername = N'NhanVien_ChiNhanh', @join_articlename = N'ChiNhanh', @join_filterclause = N'[NhanVien].[ID_ChiNhanh] = [ChiNhanh].[ID_ChiNhanh]', @join_unique_key = 1, @filter_type = 1, @force_invalidate_snapshot = 1, @force_reinit_subscription = 1
GO
use [QLSP]
exec sp_addmergefilter @publication = N'QLSP_HCM', @article = N'SanPham', @filtername = N'SanPham_ChiNhanh', @join_articlename = N'ChiNhanh', @join_filterclause = N'[SanPham].[ID_ChiNhanh] = [ChiNhanh].[ID_ChiNhanh]', @join_unique_key = 1, @filter_type = 1, @force_invalidate_snapshot = 1, @force_reinit_subscription = 1
GO
use [QLSP]
exec sp_addmergefilter @publication = N'QLSP_HCM', @article = N'KhachHang', @filtername = N'KhachHang_GiaoDich', @join_articlename = N'GiaoDich', @join_filterclause = N'[KhachHang].[ID_KH] = [GiaoDich].[ID_KH]', @join_unique_key = 0, @filter_type = 1, @force_invalidate_snapshot = 1, @force_reinit_subscription = 1
GO
use [QLSP]
exec sp_addmergefilter @publication = N'QLSP_HCM', @article = N'GiaoDich', @filtername = N'GiaoDich_NhanVien', @join_articlename = N'NhanVien', @join_filterclause = N'[NhanVien].[ID_NV] = [GiaoDich].[ID_NV]', @join_unique_key = 1, @filter_type = 1, @force_invalidate_snapshot = 1, @force_reinit_subscription = 1
GO

-- Adding the merge subscriptions
use [QLSP]
exec sp_addmergesubscription @publication = N'QLSP_HCM', @subscriber = N'DESKTOP-UNFURNE\CSDLPT_G1', @subscriber_db = N'QLSP_HCM', @subscription_type = N'Push', @sync_type = N'Automatic', @subscriber_type = N'Local', @subscription_priority = 0, @description = N'', @use_interactive_resolver = N'False'
exec sp_addmergepushsubscription_agent @publication = N'QLSP_HCM', @subscriber = N'DESKTOP-UNFURNE\CSDLPT_G1', @subscriber_db = N'QLSP_HCM', @job_login = null, @job_password = null, @subscriber_security_mode = 0, @subscriber_login = N'sa', @subscriber_password = null, @publisher_security_mode = 1, @frequency_type = 64, @frequency_interval = 0, @frequency_relative_interval = 0, @frequency_recurrence_factor = 0, @frequency_subday = 0, @frequency_subday_interval = 0, @active_start_time_of_day = 0, @active_end_time_of_day = 235959, @active_start_date = 0, @active_end_date = 0
GO

-- Adding the merge publication
use [QLSP]
exec sp_addmergepublication @publication = N'QLSP_HP', @description = N'Merge publication of database ''QLSP'' from Publisher ''Towmiess\CSDLPT_G1''.', @sync_mode = N'native', @retention = 14, @allow_push = N'true', @allow_pull = N'true', @allow_anonymous = N'true', @enabled_for_internet = N'false', @snapshot_in_defaultfolder = N'true', @compress_snapshot = N'false', @ftp_port = 21, @ftp_subdirectory = N'ftp', @ftp_login = N'anonymous', @allow_subscription_copy = N'false', @add_to_active_directory = N'false', @dynamic_filters = N'false', @conflict_retention = 14, @keep_partition_changes = N'false', @allow_synctoalternate = N'false', @max_concurrent_merge = 0, @max_concurrent_dynamic_snapshots = 0, @use_partition_groups = N'true', @publication_compatibility_level = N'100RTM', @replicate_ddl = 1, @allow_subscriber_initiated_snapshot = N'false', @allow_web_synchronization = N'false', @allow_partition_realignment = N'true', @retention_period_unit = N'days', @conflict_logging = N'both', @automatic_reinitialization_policy = 0
GO


exec sp_addpublication_snapshot @publication = N'QLSP_HP', @frequency_type = 4, @frequency_interval = 14, @frequency_relative_interval = 1, @frequency_recurrence_factor = 0, @frequency_subday = 1, @frequency_subday_interval = 5, @active_start_time_of_day = 500, @active_end_time_of_day = 235959, @active_start_date = 0, @active_end_date = 0, @job_login = null, @job_password = null, @publisher_security_mode = 0, @publisher_login = N'sa', @publisher_password = N''
exec sp_grant_publication_access @publication = N'QLSP_HP', @login = N'sa'
GO
exec sp_grant_publication_access @publication = N'QLSP_HP', @login = N'Towmiess\quynh'
GO
exec sp_grant_publication_access @publication = N'QLSP_HP', @login = N'NT SERVICE\SQLAgent$CSDLPT_G1'
GO
exec sp_grant_publication_access @publication = N'QLSP_HP', @login = N'NT Service\MSSQL$CSDLPT_G1'
GO
exec sp_grant_publication_access @publication = N'QLSP_HP', @login = N'NT SERVICE\Winmgmt'
GO
exec sp_grant_publication_access @publication = N'QLSP_HP', @login = N'NT SERVICE\SQLWriter'
GO
exec sp_grant_publication_access @publication = N'QLSP_HP', @login = N'distributor_admin'
GO

-- Adding the merge articles
use [QLSP]
exec sp_addmergearticle @publication = N'QLSP_HP', @article = N'KhachHang', @source_owner = N'dbo', @source_object = N'KhachHang', @type = N'table', @description = N'', @creation_script = N'', @pre_creation_cmd = N'drop', @schema_option = 0x000000010C034FD1, @identityrangemanagementoption = N'none', @destination_owner = N'dbo', @force_reinit_subscription = 1, @column_tracking = N'false', @subset_filterclause = N'', @vertical_partition = N'false', @verify_resolver_signature = 1, @allow_interactive_resolver = N'false', @fast_multicol_updateproc = N'true', @check_permissions = 0, @subscriber_upload_options = 0, @delete_tracking = N'true', @compensate_for_errors = N'false', @stream_blob_columns = N'true', @partition_options = 0
GO
use [QLSP]
exec sp_addmergearticle @publication = N'QLSP_HP', @article = N'ChiNhanh', @source_owner = N'dbo', @source_object = N'ChiNhanh', @type = N'table', @description = N'', @creation_script = N'', @pre_creation_cmd = N'drop', @schema_option = 0x000000010C034FD1, @identityrangemanagementoption = N'none', @destination_owner = N'dbo', @force_reinit_subscription = 1, @column_tracking = N'false', @subset_filterclause = N'[ID_ChiNhanh] =''CNHP''', @vertical_partition = N'false', @verify_resolver_signature = 1, @allow_interactive_resolver = N'false', @fast_multicol_updateproc = N'true', @check_permissions = 0, @subscriber_upload_options = 0, @delete_tracking = N'true', @compensate_for_errors = N'false', @stream_blob_columns = N'true', @partition_options = 0
GO
use [QLSP]
exec sp_addmergearticle @publication = N'QLSP_HP', @article = N'NhanVien', @source_owner = N'dbo', @source_object = N'NhanVien', @type = N'table', @description = N'', @creation_script = N'', @pre_creation_cmd = N'drop', @schema_option = 0x000000010C034FD1, @identityrangemanagementoption = N'none', @destination_owner = N'dbo', @force_reinit_subscription = 1, @column_tracking = N'false', @subset_filterclause = N'', @vertical_partition = N'false', @verify_resolver_signature = 1, @allow_interactive_resolver = N'false', @fast_multicol_updateproc = N'true', @check_permissions = 0, @subscriber_upload_options = 0, @delete_tracking = N'true', @compensate_for_errors = N'false', @stream_blob_columns = N'true', @partition_options = 0
GO
use [QLSP]
exec sp_addmergearticle @publication = N'QLSP_HP', @article = N'SanPham', @source_owner = N'dbo', @source_object = N'SanPham', @type = N'table', @description = N'', @creation_script = N'', @pre_creation_cmd = N'drop', @schema_option = 0x000000010C034FD1, @identityrangemanagementoption = N'none', @destination_owner = N'dbo', @force_reinit_subscription = 1, @column_tracking = N'false', @subset_filterclause = N'', @vertical_partition = N'false', @verify_resolver_signature = 1, @allow_interactive_resolver = N'false', @fast_multicol_updateproc = N'true', @check_permissions = 0, @subscriber_upload_options = 0, @delete_tracking = N'true', @compensate_for_errors = N'false', @stream_blob_columns = N'true', @partition_options = 0
GO
use [QLSP]
exec sp_addmergearticle @publication = N'QLSP_HP', @article = N'GiaoDich', @source_owner = N'dbo', @source_object = N'GiaoDich', @type = N'table', @description = N'', @creation_script = N'', @pre_creation_cmd = N'drop', @schema_option = 0x000000010C034FD1, @identityrangemanagementoption = N'none', @destination_owner = N'dbo', @force_reinit_subscription = 1, @column_tracking = N'false', @subset_filterclause = N'', @vertical_partition = N'false', @verify_resolver_signature = 1, @allow_interactive_resolver = N'false', @fast_multicol_updateproc = N'true', @check_permissions = 0, @subscriber_upload_options = 0, @delete_tracking = N'true', @compensate_for_errors = N'false', @stream_blob_columns = N'true', @partition_options = 0
GO

-- Adding the merge article join filters
use [QLSP]
exec sp_addmergefilter @publication = N'QLSP_HP', @article = N'GiaoDich', @filtername = N'GiaoDich_ChiNhanh', @join_articlename = N'ChiNhanh', @join_filterclause = N'[GiaoDich].[ID_ChiNhanh] = [ChiNhanh].[ID_ChiNhanh]', @join_unique_key = 1, @filter_type = 1, @force_invalidate_snapshot = 1, @force_reinit_subscription = 1
GO
use [QLSP]
exec sp_addmergefilter @publication = N'QLSP_HP', @article = N'NhanVien', @filtername = N'NhanVien_ChiNhanh', @join_articlename = N'ChiNhanh', @join_filterclause = N'[NhanVien].[ID_ChiNhanh] = [ChiNhanh].[ID_ChiNhanh]', @join_unique_key = 1, @filter_type = 1, @force_invalidate_snapshot = 1, @force_reinit_subscription = 1
GO
use [QLSP]
exec sp_addmergefilter @publication = N'QLSP_HP', @article = N'SanPham', @filtername = N'SanPham_ChiNhanh', @join_articlename = N'ChiNhanh', @join_filterclause = N'[SanPham].[ID_ChiNhanh] = [ChiNhanh].[ID_ChiNhanh]', @join_unique_key = 1, @filter_type = 1, @force_invalidate_snapshot = 1, @force_reinit_subscription = 1
GO
use [QLSP]
exec sp_addmergefilter @publication = N'QLSP_HP', @article = N'KhachHang', @filtername = N'KhachHang_GiaoDich', @join_articlename = N'GiaoDich', @join_filterclause = N'[KhachHang].[ID_KH] = [GiaoDich].[ID_KH]', @join_unique_key = 0, @filter_type = 1, @force_invalidate_snapshot = 1, @force_reinit_subscription = 1
GO
use [QLSP]
exec sp_addmergefilter @publication = N'QLSP_HP', @article = N'GiaoDich', @filtername = N'GiaoDich_NhanVien', @join_articlename = N'NhanVien', @join_filterclause = N'[NhanVien].[ID_NV] = [GiaoDich].[ID_NV]', @join_unique_key = 1, @filter_type = 1, @force_invalidate_snapshot = 1, @force_reinit_subscription = 1
GO

-- Adding the merge subscriptions
use [QLSP]
exec sp_addmergesubscription @publication = N'QLSP_HP', @subscriber = N'DESKTOP-TNT1GGG\CSDLPT_CNHP', @subscriber_db = N'QLSP_HP', @subscription_type = N'Push', @sync_type = N'Automatic', @subscriber_type = N'Local', @subscription_priority = 0, @description = N'', @use_interactive_resolver = N'False'
exec sp_addmergepushsubscription_agent @publication = N'QLSP_HP', @subscriber = N'DESKTOP-TNT1GGG\CSDLPT_CNHP', @subscriber_db = N'QLSP_HP', @job_login = null, @job_password = null, @subscriber_security_mode = 0, @subscriber_login = N'sa', @subscriber_password = null, @publisher_security_mode = 1, @frequency_type = 64, @frequency_interval = 0, @frequency_relative_interval = 0, @frequency_recurrence_factor = 0, @frequency_subday = 0, @frequency_subday_interval = 0, @active_start_time_of_day = 0, @active_end_time_of_day = 235959, @active_start_date = 0, @active_end_date = 0
GO

-- Adding the merge publication
use [QLSP]
exec sp_addmergepublication @publication = N'QLSP_ND', @description = N'Merge publication of database ''QLSP'' from Publisher ''Towmiess\CSDLPT_G1''.', @sync_mode = N'native', @retention = 14, @allow_push = N'true', @allow_pull = N'true', @allow_anonymous = N'true', @enabled_for_internet = N'false', @snapshot_in_defaultfolder = N'true', @compress_snapshot = N'false', @ftp_port = 21, @ftp_subdirectory = N'ftp', @ftp_login = N'anonymous', @allow_subscription_copy = N'false', @add_to_active_directory = N'false', @dynamic_filters = N'false', @conflict_retention = 14, @keep_partition_changes = N'false', @allow_synctoalternate = N'false', @max_concurrent_merge = 0, @max_concurrent_dynamic_snapshots = 0, @use_partition_groups = N'true', @publication_compatibility_level = N'100RTM', @replicate_ddl = 1, @allow_subscriber_initiated_snapshot = N'false', @allow_web_synchronization = N'false', @allow_partition_realignment = N'true', @retention_period_unit = N'days', @conflict_logging = N'both', @automatic_reinitialization_policy = 0
GO


exec sp_addpublication_snapshot @publication = N'QLSP_ND', @frequency_type = 4, @frequency_interval = 14, @frequency_relative_interval = 1, @frequency_recurrence_factor = 0, @frequency_subday = 1, @frequency_subday_interval = 5, @active_start_time_of_day = 500, @active_end_time_of_day = 235959, @active_start_date = 0, @active_end_date = 0, @job_login = null, @job_password = null, @publisher_security_mode = 0, @publisher_login = N'sa', @publisher_password = N''
exec sp_grant_publication_access @publication = N'QLSP_ND', @login = N'sa'
GO
exec sp_grant_publication_access @publication = N'QLSP_ND', @login = N'Towmiess\quynh'
GO
exec sp_grant_publication_access @publication = N'QLSP_ND', @login = N'NT SERVICE\SQLAgent$CSDLPT_G1'
GO
exec sp_grant_publication_access @publication = N'QLSP_ND', @login = N'NT Service\MSSQL$CSDLPT_G1'
GO
exec sp_grant_publication_access @publication = N'QLSP_ND', @login = N'NT SERVICE\Winmgmt'
GO
exec sp_grant_publication_access @publication = N'QLSP_ND', @login = N'NT SERVICE\SQLWriter'
GO
exec sp_grant_publication_access @publication = N'QLSP_ND', @login = N'distributor_admin'
GO

-- Adding the merge articles
use [QLSP]
exec sp_addmergearticle @publication = N'QLSP_ND', @article = N'KhachHang', @source_owner = N'dbo', @source_object = N'KhachHang', @type = N'table', @description = N'', @creation_script = N'', @pre_creation_cmd = N'drop', @schema_option = 0x000000010C034FD1, @identityrangemanagementoption = N'none', @destination_owner = N'dbo', @force_reinit_subscription = 1, @column_tracking = N'false', @subset_filterclause = N'', @vertical_partition = N'false', @verify_resolver_signature = 1, @allow_interactive_resolver = N'false', @fast_multicol_updateproc = N'true', @check_permissions = 0, @subscriber_upload_options = 0, @delete_tracking = N'true', @compensate_for_errors = N'false', @stream_blob_columns = N'true', @partition_options = 0
GO
use [QLSP]
exec sp_addmergearticle @publication = N'QLSP_ND', @article = N'ChiNhanh', @source_owner = N'dbo', @source_object = N'ChiNhanh', @type = N'table', @description = N'', @creation_script = N'', @pre_creation_cmd = N'drop', @schema_option = 0x000000010C034FD1, @identityrangemanagementoption = N'none', @destination_owner = N'dbo', @force_reinit_subscription = 1, @column_tracking = N'false', @subset_filterclause = N'[ID_ChiNhanh] =''CNND''', @vertical_partition = N'false', @verify_resolver_signature = 1, @allow_interactive_resolver = N'false', @fast_multicol_updateproc = N'true', @check_permissions = 0, @subscriber_upload_options = 0, @delete_tracking = N'true', @compensate_for_errors = N'false', @stream_blob_columns = N'true', @partition_options = 0
GO
use [QLSP]
exec sp_addmergearticle @publication = N'QLSP_ND', @article = N'NhanVien', @source_owner = N'dbo', @source_object = N'NhanVien', @type = N'table', @description = N'', @creation_script = N'', @pre_creation_cmd = N'drop', @schema_option = 0x000000010C034FD1, @identityrangemanagementoption = N'none', @destination_owner = N'dbo', @force_reinit_subscription = 1, @column_tracking = N'false', @subset_filterclause = N'', @vertical_partition = N'false', @verify_resolver_signature = 1, @allow_interactive_resolver = N'false', @fast_multicol_updateproc = N'true', @check_permissions = 0, @subscriber_upload_options = 0, @delete_tracking = N'true', @compensate_for_errors = N'false', @stream_blob_columns = N'true', @partition_options = 0
GO
use [QLSP]
exec sp_addmergearticle @publication = N'QLSP_ND', @article = N'SanPham', @source_owner = N'dbo', @source_object = N'SanPham', @type = N'table', @description = N'', @creation_script = N'', @pre_creation_cmd = N'drop', @schema_option = 0x000000010C034FD1, @identityrangemanagementoption = N'none', @destination_owner = N'dbo', @force_reinit_subscription = 1, @column_tracking = N'false', @subset_filterclause = N'', @vertical_partition = N'false', @verify_resolver_signature = 1, @allow_interactive_resolver = N'false', @fast_multicol_updateproc = N'true', @check_permissions = 0, @subscriber_upload_options = 0, @delete_tracking = N'true', @compensate_for_errors = N'false', @stream_blob_columns = N'true', @partition_options = 0
GO
use [QLSP]
exec sp_addmergearticle @publication = N'QLSP_ND', @article = N'GiaoDich', @source_owner = N'dbo', @source_object = N'GiaoDich', @type = N'table', @description = N'', @creation_script = N'', @pre_creation_cmd = N'drop', @schema_option = 0x000000010C034FD1, @identityrangemanagementoption = N'none', @destination_owner = N'dbo', @force_reinit_subscription = 1, @column_tracking = N'false', @subset_filterclause = N'', @vertical_partition = N'false', @verify_resolver_signature = 1, @allow_interactive_resolver = N'false', @fast_multicol_updateproc = N'true', @check_permissions = 0, @subscriber_upload_options = 0, @delete_tracking = N'true', @compensate_for_errors = N'false', @stream_blob_columns = N'true', @partition_options = 0
GO

-- Adding the merge article join filters
use [QLSP]
exec sp_addmergefilter @publication = N'QLSP_ND', @article = N'GiaoDich', @filtername = N'GiaoDich_ChiNhanh', @join_articlename = N'ChiNhanh', @join_filterclause = N'[GiaoDich].[ID_ChiNhanh] = [ChiNhanh].[ID_ChiNhanh]', @join_unique_key = 1, @filter_type = 1, @force_invalidate_snapshot = 1, @force_reinit_subscription = 1
GO
use [QLSP]
exec sp_addmergefilter @publication = N'QLSP_ND', @article = N'NhanVien', @filtername = N'NhanVien_ChiNhanh', @join_articlename = N'ChiNhanh', @join_filterclause = N'[NhanVien].[ID_ChiNhanh] = [ChiNhanh].[ID_ChiNhanh]', @join_unique_key = 1, @filter_type = 1, @force_invalidate_snapshot = 1, @force_reinit_subscription = 1
GO
use [QLSP]
exec sp_addmergefilter @publication = N'QLSP_ND', @article = N'SanPham', @filtername = N'SanPham_ChiNhanh', @join_articlename = N'ChiNhanh', @join_filterclause = N'[SanPham].[ID_ChiNhanh] = [ChiNhanh].[ID_ChiNhanh]', @join_unique_key = 1, @filter_type = 1, @force_invalidate_snapshot = 1, @force_reinit_subscription = 1
GO
use [QLSP]
exec sp_addmergefilter @publication = N'QLSP_ND', @article = N'KhachHang', @filtername = N'KhachHang_GiaoDich', @join_articlename = N'GiaoDich', @join_filterclause = N'[KhachHang].[ID_KH] = [GiaoDich].[ID_KH]', @join_unique_key = 0, @filter_type = 1, @force_invalidate_snapshot = 1, @force_reinit_subscription = 1
GO
use [QLSP]
exec sp_addmergefilter @publication = N'QLSP_ND', @article = N'GiaoDich', @filtername = N'GiaoDich_NhanVien', @join_articlename = N'NhanVien', @join_filterclause = N'[NhanVien].[ID_NV] = [GiaoDich].[ID_NV]', @join_unique_key = 1, @filter_type = 1, @force_invalidate_snapshot = 1, @force_reinit_subscription = 1
GO

-- Adding the merge subscriptions
use [QLSP]
exec sp_addmergesubscription @publication = N'QLSP_ND', @subscriber = N'TWISTEDMIND\CSDLPT_G1', @subscriber_db = N'QLSP_ND', @subscription_type = N'Push', @sync_type = N'Automatic', @subscriber_type = N'Local', @subscription_priority = 0, @description = N'', @use_interactive_resolver = N'False'
exec sp_addmergepushsubscription_agent @publication = N'QLSP_ND', @subscriber = N'TWISTEDMIND\CSDLPT_G1', @subscriber_db = N'QLSP_ND', @job_login = null, @job_password = null, @subscriber_security_mode = 0, @subscriber_login = N'sa', @subscriber_password = null, @publisher_security_mode = 1, @frequency_type = 64, @frequency_interval = 0, @frequency_relative_interval = 0, @frequency_recurrence_factor = 0, @frequency_subday = 0, @frequency_subday_interval = 0, @active_start_time_of_day = 0, @active_end_time_of_day = 235959, @active_start_date = 0, @active_end_date = 0
GO



